@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Estilos comuns para todos os tamanhos de tela */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --green1: rgb(95, 125, 34);
  --green: rgb(0, 45, 32);
  --bege: #fff;
}

/* Estilos comuns para todos os tamanhos de tela */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bege);
  text-align: center;
  margin: 0;
  padding: 0;
}

.content {
  width: 400px;
  margin: 0 auto;
  background-color: var(--bege);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 45, 32);
}

.header-block {
  margin-bottom: 20px;
}

.header-block img {
  padding: 30px;
  max-width: 100%;
  height: auto;
}

.text1 h2,
.text2 h2 {
  color: var(--green);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 10px;
}

.link {
  background: var(--green);
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: var(--bege);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 45, 32);
}


/* Estilos para telas pequenas (até 576px) */
@media (max-width: 576px) {
  .content {
      padding: 10px;
  }

  .text1 h2,
  .text2 h2 {
      font-size: 16px;
  }
}

